<h1>Menu Category</h1>

<% MenuCategory.all.map do |mc| %>
    <h2><%= mc.name %></h2>
    <ul>
        <% MenuItem.get_items(mc.id).map do |mi| %>
            <li><%= "#{mi.name} #{mi.price}" %></li>
        <% end %>
    </ul>
<% end %>