<h1 class="MenuCategory">Menu Items</h1>

<% if @current_user.role == "owner" %>
    <%= form_with(url: new_menu_item_path, method: "GET", class: "AddItem") do %>
        <%= submit_tag("Add Item", class: "AddItem-button") %>
    <% end %>

    <%= render partial: "owner-session", locals: {
                 menu_categories: MenuCategory.all,
               } %>
<% else %>
    <%= render partial: "customer-session", locals: {
                 menu_categories: MenuCategory.all,
               } %>
<% end %>