<div class="Home-container">
    <h1 class="Home-title">Welcome to Cafeteria Manger</h1>

    <%= link_to "sign-up here If you are a new user", new_user_path, class: "Home-signup" %>
    <br><br><br>
    <%= link_to "sign-in here If you are an existing user", new_sessions_path, class: "Home-signin" %>
</div>