.CartItem-head {
  display: flex;
  justify-content: space-between;
}

.NewItem-title,
.EditItem-title,
.MenuCategory-HeadText,
.MenuItem-HeadText,
.CartItem-HeadText {
  font-size: 30px;
}

.CartItem-HeadText span {
  font-size: 20px;
}

.CartItem-body {
  padding: 8px;
  margin-top: 10px;
  margin-left: 15px;
  border: 2px solid #444;
  border-radius: 4px;
  height: 460px;
  overflow-y: scroll;
}

.Checkout-button,
.CartClear-button {
  text-decoration: none;
  font-size: 16px;
  background-color: transparent;
  border-radius: 4px;
  padding: 6px 18px;
  cursor: pointer;
}

.CartClear-button {
  color: #eb465a;
  border: 2px solid #eb465a;
}

.Checkout-button {
  color: #48bb78;
  border: 2px solid #48bb78;
}

.PlaceOrder {
  width: 100%;
  font-size: 16px;
  padding: 6px 18px;
  color: white;
  background-color: #48bb78;
  border: 2px solid transparent;
  border-radius: 4px;
  cursor: pointer;
}

.CartItem-container {
  font-size: 18px;
  padding: 6px;
  margin-bottom: 5px;
  background-color: #eee;
  border: 1px solid transparent;
  border-radius: 6px;
}

.CartItem-name,
.CartItem-price {
  padding-top: 9px;
}

.CartItem-quantity {
  position: relative;
  bottom: 45px;
  float: right;
  display: flex;
  padding: 8px;
  border: 1px solid #111;
  border-radius: 8px;
}

.CartEmpty-text {
  text-align: center;
  margin-top: 10%;
  font-size: 30px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 30%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.close {
  color: white;
  float: right;
  font-size: 26px;
  font-weight: bold;
  position: relative;
  bottom: 4px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 8px 16px;
  background-color: #555;
  color: white;
}

.modal-body {
  padding: 4px 16px;
}
