.Home-container {
  position: abosolute;
  margin-left: 10%;
  margin-top: 25%;
}

.Home-title {
  font-size: 30px;
  margin-bottom: 30px;
}

.Home-signup,
.Home-signin {
  margin-left: 50px;
  color: white;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.Home-signup {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 23px;
  padding-right: 23px;
  background-color: #3535f5;
}

.Home-signin {
  padding: 10px;
  background-color: green;
}

.UserHeader {
  color: white;
  padding: 15px;
  background-color: #555;
  font-size: 16px;
  margin-bottom: 10px;
  display: flex;
}

.UserHeader-home,
.UserHeader-cart,
.UserHeader-sign-out {
  margin-left: 10px;
  color: #ccc;
  text-decoration: none;
}

.UserHeader-home:hover,
.UserHeader-cart:hover,
.UserHeader-sign-out:hover {
  color: white;
}

.Flash-error {
  color: darkred;
  background-color: #f8d7da;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 12px;
  margin-bottom: 20px;
}
