.Home-title {
  font-size: 20px;
  margin-bottom: 30px;
}

.Home-authenticate {
  font-size: 16px;
  margin-bottom: 20px;
}

.UserHeader {
  color: white;
  padding: 15px;
  background-color: #333;
  font-size: 16px;
  margin-bottom: 10px;
  display: flex;
}

.UserHeader-home {
  margin-left: 10px;
}

.UserHeader-cart {
  margin-left: 10px;
  margin-right: 10px;
}

.Flash-error {
  color: darkred;
  background-color: #f8d7da;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 12px;
  margin-bottom: 20px;
}
