.MenuCategory {
  font-size: 35px;
}

.MenuCategory-container {
  display: flex;
  border: 2px solid darkgrey;
  border-radius: 4px;
}

.MenuCategory-button {
  font-size: 30px;
  font-weight: bolder;
  color: #fcc603;
  background-color: white;
  border: 1px solid transparent;
}

.MenuCategory-title {
  font-size: 28px;
  margin-top: 10px;
}

.MenuItem-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.MenuItem-container {
  font-size: 22px;
  padding: 14px;
  margin-left: 35px;
  background-color: #eee;
}

.MenuItem-description {
  padding: 10px;
  margin-top: 2px;
  margin-bottom: 12px;
  margin-left: 35px;
  text-align: justify;
  background-color: #eee;
}

.MenuItem-price,
.MenuItem-quantity {
  margin-left: 8px;
}

.AddCart {
  float: right;
}

.AddCart-button {
  color: green;
  border: 2px solid green;
  border-radius: 4px;
  padding: 6px;
  position: relative;
  bottom: 4px;
}

.AddQuantity-button,
.ReduceQuantity-button {
  cursor: pointer;
  background-color: transparent;
  border: 1px solid transparent;
}
