aside {
  position: fixed;
  left: 64%;
  bottom: 10px;
  width: 35%;
  float: right;
  border: 2px solid black;
  border-radius: 4px;
}

section {
  width: 750px;
}

.MenuCategory {
  font-size: 35px;
}

.UpdateCategory {
  float: right;
  position: relative;
  bottom: 32px;
}

.AddItem {
  float: right;
  position: relative;
  bottom: 35px;
}

.UpdateCategory-button,
.AddItem-button,
.AddCart-button {
  color: #48bb78;
  border: 2px solid #48bb78;
}

.UpdateItem-button {
  color: #1a73e8;
  border: 2px solid #1a73e8;
}

.RemoveItem-button {
  color: #eb465a;
  border: 2px solid #eb465a;
}

.UpdateCategory-button,
.AddItem-button,
.AddCart-button,
.UpdateItem-button,
.RemoveItem-button {
  font-size: 16px;
  background-color: transparent;
  border-radius: 4px;
  padding: 6px 22px;
  cursor: pointer;
}

.AddCart-button,
.ItemButton-container {
  position: relative;
  bottom: 6px;
}

.ItemButton-container {
  width: 24%;
  display: flex;
  justify-content: space-between;
}

.MenuCategory-container {
  display: flex;
  border: 2px solid darkgrey;
  border-radius: 4px;
}

.MenuCategory-button {
  font-size: 30px;
  font-weight: bolder;
  color: #fcc603;
  background-color: white;
  border: 1px solid transparent;
}

.MenuCategory-title {
  font-size: 28px;
  margin-top: 10px;
}

.MenuItem-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.MenuItem-container {
  font-size: 22px;
  padding: 14px;
  margin-left: 30px;
  margin-top: 10px;
  background-color: #eee;
}

.MenuItem-description {
  padding: 10px;
  margin-top: 2px;
  margin-bottom: 12px;
  margin-left: 30px;
  text-align: justify;
  background-color: #eee;
}

.MenuItem-price,
.MenuItem-quantity {
  margin-left: 8px;
}

.AddCart,
.ItemButton-container {
  float: right;
}

.AddQuantity-button,
.ReduceQuantity-button {
  cursor: pointer;
  background-color: transparent;
  border: 1px solid transparent;
}
